<div class="mainBanner">
	<div class="hedMain"><h1><img src="images/logo-headsup-banner.png" alt="HEADS UP Concussion logo" class="headsUp-logo" /><span data-ng-bind="main.systemHeadline"></span></h1></div>
	<div class="hedSub" data-ng-bind="main.systemSubHeadline"></div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="rotatingText">
			<div id="carousel-1" class="rn-carousel-container">
				<ul rn-carousel="" rn-carousel-controls="" rn-carousel-auto-slide="8" rn-carousel-index="carouselMessageIndex" rn-carousel-indicator="">
					
					<li>
						<h4>All concussions are serious.</h4>
						A concussion is a type of traumatic brain injury that causes chemical changes in the brain and sometimes results in stretching and damaging of the brain cells.
						<a href="#/detail/132381">Learn more <span class="fa fa-angle-right"></span></a>
					</li>

					<li ng-if="main.embedParams.cdcSport === 'football'">
						<h4>Football Quick Tip</h4>
						<div class="row">
							<div class="col-md-6">
								<img src="images/icon_helmet.png" alt="Football Helmet icon" class="pull-left didyouknow-icon" /> Tackling is responsible for almost <em>two-thirds</em> of concussions in high school football.
							</div>
							<div class="col-md-6">
								<span class="fa fa-lightbulb-o tip-icon"></span> <strong class="themespot">Tip:</strong> Limit the amount of contact during practices, including scrimmages and full-speed drills. <a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-7" target="_blank">Learn more <span class="fa fa-angle-right"></span></a>
							</div>
						</div>
					</li>

					<li ng-if="main.embedParams.cdcSport === 'football'">
						<h4>Football Quick Tip</h4>
						<div class="row">
							<div class="col-md-6">
								<img src="images/icon_helmet.png" alt="Football Helmet icon" class="pull-left didyouknow-icon" /> Almost <em>half</em> of concussions in high school football happen during running plays.
							</div>
							<div class="col-md-6">
								<span class="fa fa-lightbulb-o tip-icon"></span> <strong class="themespot">Tip:</strong> The American Academy of Pediatrics recommends certified athletic trainers be available at games and practices. <a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-7" target="_blank">Learn more <span class="fa fa-angle-right"></span></a>
							</div>
						</div>
					</li>

					<li ng-if="main.embedParams.cdcSport === 'baseball'">
						<h4>Baseball Quick Tip</h4>
						<div class="row">
							<div class="col-md-6">
								<img src="images/icon_helmet_baseball.png" alt="Baseball Helmet icon" class="pull-left didyouknow-icon" /> About <em>1 in 4</em> concussions in high school baseball result from a player being hit by the pitch.
							</div>
							<div class="col-md-6">
								<span class="fa fa-lightbulb-o tip-icon"></span> <strong class="themespot">Tip:</strong> Make sure athletes always wear a batting helmet that fits well and is in good condition. <a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-3" target="_blank">Learn more <span class="fa fa-angle-right"></span></a>
							</div>
						</div>
					</li>

					<li ng-if="main.embedParams.cdcSport === 'soccer'">
						<h4>Soccer Quick Tip</h4>
						<div class="row">
							<div class="col-md-6">
								<img src="images/icon_soccer.png" alt="Soccer ball icon" class="pull-left didyouknow-icon" /> Concussions in high school soccer most commonly occur when an athlete is heading the ball.
							</div>
							<div class="col-md-6">
								<span class="fa fa-lightbulb-o tip-icon"></span> <strong class="themespot">Tip:</strong> US Soccer recommends no heading for any athletes age 10 and under and to limit heading only to practices for athletes ages 11 to 13. <a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-10" target="_blank">Learn more <span class="fa fa-angle-right"></span></a>
							</div>
						</div>
					</li>

					<li ng-if="main.embedParams.cdcSport === 'softball'">
						<h4>Softball Quick Tip</h4>
						<div class="row">
							<div class="col-md-6">
								<img src="images/icon_helmet_baseball.png" alt="Softball Helmet icon" class="pull-left didyouknow-icon" /> Over <em> quarter</em> of concussions happen when an athlete is fielding a batted ball.
							</div>
							<div class="col-md-6">
								<span class="fa fa-lightbulb-o tip-icon"></span> <strong class="themespot">Tip:</strong> Teach athletes proper fielding techniques and ways to avoid collisions with other athletes.  <a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-11" target="_blank">Learn more <span class="fa fa-angle-right"></span></a>
							</div>
						</div>
					</li>

					<li ng-if="main.embedParams.cdcSport === 'hockey'">
						<h4>Hockey Quick Tip</h4>
						<div class="row">
							<div class="col-md-6">
								<img src="images/icon_helmet_hockey.png" alt="Hockey Helmet icon" class="pull-left didyouknow-icon" /> Almost <em>two-thirds</em> of concussions in high school ice hockey result from contact with another athlete.
							</div>
							<div class="col-md-6">
								<span class="fa fa-lightbulb-o tip-icon"></span> <strong class="themespot">Tip:</strong> Limit the amount of contact during practices, including scrimmages and full-speed drills. <a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-8" target="_blank">Learn more <span class="fa fa-angle-right"></span></a>
							</div>
						</div>
					</li>

					<li ng-if="main.embedParams.cdcSport === 'hockey'">
						<h4>Hockey Quick Tip</h4>
						<div class="row">
							<div class="col-md-6">
								<img src="images/icon_helmet_hockey.png" alt="Hockey Helmet icon" class="pull-left didyouknow-icon" /> About <em>1 in 3</em> concussions in high school ice hockey result from being checked.
							</div>
							<div class="col-md-6">
								<span class="fa fa-lightbulb-o tip-icon"></span> <strong class="themespot">Tip:</strong> The American Academy of Pediatrics recommends limiting body checking in competition to athletes age 15 and over. <a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-8" target="_blank">Learn more <span class="fa fa-angle-right"></span></a>
							</div>
						</div>
					</li>

					<li ng-if="main.embedParams.cdcSport === 'basketball'">
						<h4>Basketball Quick Tip</h4>
						<div class="row">
							<div class="col-md-6">
								<img src="images/icon_basketball.png" alt="Basketball icon" class="pull-left didyouknow-icon" /> Most concussions among high school basketball players result from contact with another athlete.
							</div>
							<div class="col-md-6">
								<span class="fa fa-lightbulb-o tip-icon"></span> <strong class="themespot">Tip:</strong> Enforce the rules of the sport for fair play, safety, and sportsmanship <a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-8" target="_blank">Learn more <span class="fa fa-angle-right"></span></a>
							</div>
						</div>
					</li>

					<li>
						<h4>Create a Safe Sport Culture.</h4>
						Athletes thrive when they have fun playing their sport and receive positive messages from their coaches and parents about reporting concussion symptoms. 
						<a href="#/detail/132461">Learn more <span class="fa fa-angle-right"></span></a>
					</li>
					<li>
						<h4>Playing or practicing with a concussion is dangerous.</h4>
						While an athlete’s brain is still healing, he or she is much more likely to have another concussion putting them at risk for a more serious brain injury or even death.
						<a href="#/detail/132433">Learn more <span class="fa fa-angle-right"></span></a>
					</li>
					<li>
						<h4>Concussions affect each athlete differently.</h4>
						Most athletes with a concussion feel better within a couple of weeks. However, for some, symptoms may last longer.
						<a href="#/detail/132436">Learn more <span class="fa fa-angle-right"></span></a>
					</li>					

				</ul>
				<div rn-carousel-indicators="" id="carousel-1-indicator" slides="home.messageSlides" rn-carousel-index="carouselMessageIndex"></div>
			</div><!--rn-carousel-container-->
		</div><!--rotatingText-->
	</div><!--col-md-12-->
</div><!--row-->

<div class="row">
	<div class="col-md-8 col-sm-12">
		
<!--Main Large Column-->
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="micrositeModule">
					<h3>Be Ready</h3>
					<div class="highlights">
						<ul>
							<li><span class="fa fa-mobile-phone"></span> <a href="#/detail/131720">Download the App</a></li>
							<li><span class="fa fa-lightbulb-o" style="font-size:15pt;"></span> <a href="#/detail/12345">Get Tips on Helmet Fit &amp; Care</a></li>
							<li><span class="fa fa-cog" style="font-size:12pt; margin:2px 4px 8px 0;"></span> <a href="http://www.cdc.gov/headsup/resources/custom.html" target="_blank">Customize Info for Your Team</a></li>
						</ul>
					</div>

					<h4 style="font-size:10pt; padding-bottom:0;">Resources for:</h4>
					<div class="loader" data-ng-show="home.loaderYouth"></div>
					<ul data-ng-hide="home.loaderYouth">
						<li data-ng-repeat="item in home.youthData"><a data-ng-href="#/detail/{{item.id}}" data-ng-click="main.logInteraction({ module: 'Youth Sports', sport: '{{main.embedParams.cdcSport}}', theme: '{{main.embedParams.cdcTheme}}', mediaId: {{item.id}} })">{{item.extendedAttributes.TopicContextTitle || item.name}}</a></li>
					</ul>

					
				</div><!--micrositeModule-->

				<div class="onlineTraining"><a href="#/detail/132452"><img src="images/btn_onlinetraining.png" alt="Online Training" /></a></div>


			</div><!--col-md-6-->
			<div class="col-md-6 col-sm-12">
				<div class="micrositeModule">
					<h3>Get the Facts</h3>
					<div class="loader" data-ng-show="home.loaderInjury"></div>
					<ul data-ng-hide="home.loaderInjury">
						<li data-ng-repeat="item in home.injuryData"><a data-ng-href="#/detail/{{item.id}}" data-ng-click="main.logInteraction({ module: 'Brain Injury Basics', sport: '{{main.embedParams.cdcSport}}', theme: '{{main.embedParams.cdcTheme}}', mediaId: {{item.id}} })">{{item.extendedAttributes.TopicContextTitle || item.name}}</a></li>
					</ul>
				</div><!--micrositeModule-->
			</div><!--col-md-6-->
		</div><!--row-->

		<div class="row">
			<div class="col-md-12">
				<a data-ng-href="#/detail/132383" class="helmetSafety" data-ng-click="main.logInteraction({ module: 'Actional Plan Banner', sport: '{{main.embedParams.cdcSport}}', theme: '{{main.embedParams.cdcTheme}}', mediaId: 132383 })">
					<div class="helmetSafetyTxt">
						<h3>Put a Concussion Action Plan in Place</h3>
						<div>Help protect athletes from a serious brain or head injury.<br />
							&gt; <strong>Learn More</strong></div>
					</div><!--helmetSafetyTxt-->
					<div class="overlay"></div>
				</a><!--helmetSafety-->
			</div><!--col-md-12-->
		</div><!--row-->

<!--
		<div class="row">
			<div class="col-md-12">
				<div class="micrositeModule">
					<h3>Resources</h3>
					<div class="loader" data-ng-show="home.loaderResources"></div>
					<ul data-ng-hide="home.loaderResources">
						<li data-ng-repeat="item in home.resourcesData"><a data-ng-href="#/detail/{{item.id}}" data-ng-click="main.logInteraction({ module: 'Resources', sport: '{{main.embedParams.cdcSport}}', theme: '{{main.embedParams.cdcTheme}}', mediaId: {{item.id}} })">{{item.extendedAttributes.TopicContextTitle || item.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
-->

		<div class="row">
			<div class="col-md-12">
				<div class="mediaViewer">
					<h3>HEADS UP Videos</h3>
					<div class="loader" data-ng-show="home.loaderMedia"></div>
					<div id="carousel-2" class="rn-carousel-container" data-ng-hide="home.loaderMedia">
						<ul rn-carousel="" rn-carousel-control="" rn-carousel-buffered="" rn-carousel-indicator="" rn-carousel-index="carouselMediaIndex">
							<li data-ng-repeat="media in home.mediaData">
								<div my-youtube code="media.sourceUrl | youTubeCode"></div>
							</li>
						</ul>
						<div id="carousel-2-indicator" rn-carousel-indicators="" ng-if="home.mediaData.length > 1" slides="home.mediaData" rn-carousel-index="carouselMediaIndex"></div>
					</div><!--rn-carousel-container-->
				</div><!--mediaViewer-->
			</div><!--col-md-12-->
		</div><!--row-->


	</div><!--col-md-8-->

<!--Small Side Column-->
	<div class="col-md-4 col-sm-12">
		<div class="micrositeDidYouKnow themespot_border">
			<h3>Did You Know?</h3>
			<p class="fact"><strong><span class="themespot">7 in 10</span></strong> young athletes with a possible concussion report playing with concussion symptoms.</p>

			<p class="tip"><strong>Take Action:</strong> Talk with athletes about any concerns they might have about reporting their concussion symptoms.<br />
			<a href="http://wwwdev.cdc.gov/headsup/basics/concussion_prevention.html#tabs-1061558-2" target="_blank">Learn more </a><span class="fa fa-angle-right"></span></p>

			<span class="fa fa-question-circle"></span>
		</div>


		<a data-ng-href="#/detail/132461" class="takeAction" data-ng-click="main.logInteraction({ module: 'Culture Banner', sport: '{{main.embedParams.cdcSport}}', theme: '{{main.embedParams.cdcTheme}}', mediaId: '' })">
			<div class="takeActionTxt">
				<h3>Changing the Culture of Concussion Starts With You!</h3>
				<div>&gt; <strong>Learn More</strong></div>
			</div><!--helmetSafetyTxt-->

			<div class="overlay"></div>
		</a><!--helmetSafety-->
		
		
		<div class="micrositeModuleSide twitterModule">
			<h3><span class="fa fa-twitter"></span> #CDCHEADSUP</h3>
			<div class="loader" data-ng-show="home.loaderTwitter"></div>
			<div class="twitterContent" data-ng-hide="home.loaderTwitter">
				<ul>
					<li data-ng-repeat="tweet in home.twitterData | limitTo:3">
						<div data-ng-bind-html="tweet.text | linky:'_blank'"></div>
						<small>{{tweet.created_at | dateFormat}}</small>
					</li>
				</ul>
			</div><!--twitterContent-->
		</div><!--micrositeModule-->


		<ul class="headsUpLinks">
			<li><a data-ng-href="#/detail/131666" data-ng-click="main.logInteraction({ module: 'About HEADS UP logo', sport: '{{main.embedParams.cdcSport}}', theme: '{{main.embedParams.cdcTheme}}', mediaId: 131666 })">Learn more about CDC HEADS UP</a></li>
			<li><a data-ng-href="#/detail/132128" data-ng-click="main.logInteraction({ module: 'About this Collection', sport: '{{main.embedParams.cdcSport}}', theme: '{{main.embedParams.cdcTheme}}', mediaId: 132128 })">Privacy Policy &amp; Disclaimers</a></li>
		</ul>
		

	</div><!--col-md-4-->
</div><!--row-->