/* ==========================================================================
   RD Quiz Module Custom Styles
   ========================================================================== */

body {
  width: 1px;
  min-width: 100%;
  *width: 100%;
  font-weight: normal;
  font-style: normal;
}

