<ul class="list-bullet">
  <li>
    Simple &amp; Flexible Course Configuration including:
    <ul class="list-bullet">
      <li>Free Roam Mode (Course configuration flag which allows the user to browse the course without restriction</li>
      <li>Review Mode - Switches the course to Free Roam mode after completion</li>
      <li>Progress Retention via Browser Local Storage remembers where you left off and automatically resumes the course upon re-entry</li>
    </ul>
  </li>
  <li>URL Based Navigation which allows for:
    <ul class="list-bullet">
      <li>Deep Linking Courses and/or Pages within a Course</li>
      <li>Native History Support (Navigation using Back &amp; Forward Buttons)</li>
      <li>Automatic Recovery/Redirection for Broken or Outdated Courseware Links)</li>
    </ul>
  </li>
  <li>
    Flexible Question Configuration (allows for multiple variations of standard question types)
    <ul class="list-bullet">
      <li>Simple &amp; Flexible Configurations for Correct / Incorrect answer Handling</li>
      <li>Require correct answer to continue</li>
      <li>Various Control Display Options (Styled Buttons and Radios in different display formats, etc.)</li>
    </ul>
  </li>
</ul>

<p>And this is just the beginning!</p>

<p>Let's jump right in to some examples of the features...</p>

<!--
<h3>The PTLMS currently supports the following features for ease in course implementation</h3>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li data-ng-class="{'active' : activeTab === 1}"><a data-toggle="tab" data-ng-click="activeTab = 1">Information Slides</a></li>
        <li data-ng-class="{'active' : activeTab === 2}"><a data-toggle="tab" data-ng-click="activeTab = 2">Simple Text Slides</a></li>
        <li data-ng-class="{'active' : activeTab === 3}"><a data-toggle="tab" data-ng-click="activeTab = 3">Simple Text Slides</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" data-ng-class="{'active' : activeTab === 1}">
            <h4>Information Slides</h4>
            <p>Simple Text Slides </p>
        </div>
        <div class="tab-pane" data-ng-class="{'active' : activeTab === 2}">
            <p>I'm in Section 2.</p>
        </div>
        <div class="tab-pane" data-ng-class="{'active' : activeTab === 3}">
            <p>I'm in Section 3.</p>
        </div>
    </div>
</div>
-->
